<!DOCTYPE html>
<html>
  <head>
    <title>GroupOfPictures</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>
    <%= video_tag "output_file.mp4", :size => "320x240", :controls => true %>
  </body>
</html>
